<% provide :title, @user.displayname %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.displayname %>
        <%= @user.gender %>
      </h1>
    </section>
  </aside>
</div>
